    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Portafolio</a></div> 
            <ul class="links">
                <li><a href="#presentacion">Presentación</a></li>
                <li><a href="#sobremi">Sobre Mi</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#formacion">Formación</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <a href="#" class="action_btn">Iniciar Sesión</a>
            <div class="toggle_btn">
                <i class="fa-regular fa-bars"></i>
            </div>
        </div>
    </header>

